#####################
# Raw Source Inputs #
#####################

JointPlot/raw/

########################
# Pickel Serial Inputs #
########################

*.pkl

######################
# Time Series Inputs #
######################

TimeSeries/daily/